{%extends 'base.html'%}
{%block containt%}
{%include 'navbar.html'%}
{%load static%}



  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        {%load static%}
        <img src="{%static 'Rahul_Patil.jpg'%}" class="card-img-top" alt="Image not Found">
        <div class="card-body">
          <h5 class="card-title">Dr. Rahul Patil [Best Cardiologist]</h5>
          <p class="card-text">Dr Rahul Patil. is One of The Best Cardiologist In Pune.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="{%static 'godbole.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Shreerang Godbole [Endocrinologist]</h5>
          <p class="card-text">Dr. Shreerang Godbole is one of the foremost endocrinologists and diabetologists of Pune. He is the Director, Institute for Treatment & Research in Diabetes and Endocrinology (INSTRIDE), Pune. Besides, he is also associated with Jehangir (Apollo) Hospital. He has had an experience of close to 25 years. As a medical professional Dr. Godbole is a multi-talented personality whose experience and exposure include diverse fields like medical treatment, clinical research, teaching, general diabetes education & awareness amongst masses etc.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{%static 'sudarshan.jpeg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Sudarshan Nanawati [Gynac]</h5>
          <p class="card-text">Dr Sudarshana is a reputed gynaecologist & obstetrician in Pune. He has years of experience in treating females of reproductive system infertility concerns and other related issues. He is trusted, gynaecologist and obstetrician. He also worked as an infertility treatment specialist in hospitals you also are known for delivering bus services like fibroid removal treatment, ovarian cyst, removal of uterus, removal and other related treatments. He is a DGO, MBBS, and OBgyn expert</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{%static 'Sanjay_Patil.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Sanjay Patil [Orthopaedic spine Surgeon]</h5>
        <p class="card-text">Dr. Sanjay Patil is amongst the leading Spine Surgeon in Pune. He has his own clinic conveniently located in Mittal court Pune. Dr. Patil is associated as HOD (Dept. of Orthopaedics) in Bharati Hospital & MRC in Pune. He is also attached as Consultant Spine Specialist in leading  Hospitals of Pune and Belgaum (Karnataka).

          He is an expert Spine Specialist in Pune who is dedicated to treating spine condition ranging from common spine problem as spine instability, Herniated Disc or Slipped Disc, Spinal Stenosis deformity to complicated spinal disorder.
          </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

<div class="col">
  <div class="card h-100">
    <img src="{%static 'subhash.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. Sudarshan Nanawati [Children Specialist]</h5>
      <p class="card-text">Dr. Subhash Mustapure has years of experience of treating, Large number of critical OPD patients. Vast experience of treating critical extreme premature NICU newborn weight 750gm, Done successfully Exchange transfusion in RH incompatibility newborns, experience treating all types of complicated, typhoid, malaria, dengue, viral infections and fungal infection, well baby clinic for weight gain and mental health improvement of scholastic backward students</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>




{%include 'footer.html'%}
      
{%endblock%}